.btn-outline-primary {
--bs-btn-border-color: #eb674b;
--bs-btn-color: #eb674b;
--bs-btn-active-bg: #eb674b;
--bs-btn-active-border-color: #eb674b;
}

form > input::selection,  form>textarea::selection{
    background-color: #eb674b;
    color: white;
}

#mobile-menu-main {
    z-index: 100000000000;
}

#mobile-menu-main {
    background-color: rgba(107, 114, 128, 0.5);;
}

ul#list > li {
    width: fit-content;
}